body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.day-start {
    background-image: url("../images/dayStart.jpg");
}
.afternoon {
    background-image: url("../images/afternoon.jpg");
}
.midnight {
    background-image: url("../images/midnight.jpg");
}
.deep-night {
    background-image: url("../images/deepNight.jpg");
}

body::-webkit-scrollbar {
    display: none;
}
ul {
    max-height: 30rem;
}
ul::-webkit-scrollbar {
    display: none;
}

.form-remove {
    display: none;
}
.hide {
    display: none;
}
input {
    all: unset;
}
button {
    all: unset;
}

.glass {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.border-make {
    border-bottom: 3.5px solid white;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.img-setting {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.del-img {
    background-image: url("../icons/delete-icon.svg");
}
.fin-img {
    background-image: url("../icons/finishing-icon.svg");
}
.append-img {
    background-image: url("../icons/clock-icon.svg");
}
