body{
    background-image: url("../images/dayStart.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.form-remove{
    display: none;
}
.hide {
    display: none;
}
input{
    all: unset;
}
button{
    all: unset;
}

.glass {
    backdrop-filter: blur( 25.0px );
-webkit-backdrop-filter: blur( 25.0px );
}

.border-make{
    border-bottom: 3.5px solid white;
}

.border-bottom{
    border-bottom: 2px solid black;
}